<html class="bg-gray-100">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<section class="pb-20 relative block bg-gray-100">
  <div class="container mx-auto px-4 lg:pt-24 lg:pb-64">
    <div class="flex flex-wrap text-center justify-center">
      <div class="w-full lg:w-6/12 px-4">
        <h2 class="text-5xl font-semibold text-blue-500">Build something</h2>
        <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-600">Put the potentially record low maximum sea ice
          extent this year down to low ice. According to the National Oceanic and Atmospheric Administration, Ted,
          Scambos.</p>
      </div>
    </div>
    <div class="flex flex-wrap mt-12 justify-center">
      <div class="w-full lg:w-3/12 px-4 text-center">
        <div
           class="text-slate-800 p-3 w-12 h-12 shadow-lg rounded-full bg-green-500 inline-flex items-center justify-center">
          <i class="fas fa-medal text-xl"></i>
        </div>
        <h6 class="text-xl mt-5 font-semibold text-gray-800">Excellent Services</h6>
        <p class="mt-2 mb-4 text-gray-600">Some quick example text to build on the card title and make up the bulk of
          the card's content.</p>
      </div>
      <div class="w-full lg:w-3/12 px-4 text-center">
        <div
           class="text-slate-800 p-3 w-12 h-12 shadow-lg rounded-full bg-green-500 inline-flex items-center justify-center">
          <i class="fas fa-poll text-xl"></i>
        </div>
        <h5 class="text-xl mt-5 font-semibold text-gray-800">Grow your market</h5>
        <p class="mt-2 mb-4 text-gray-600">Some quick example text to build on the card title and make up the bulk of
          the card's content.</p>
      </div>
      <div class="w-full lg:w-3/12 px-4 text-center">
        <div
           class="text-slate-800 p-3 w-12 h-12 shadow-lg rounded-full bg-green-500 inline-flex items-center justify-center">
          <i class="fas fa-lightbulb text-xl"></i>
        </div>
        <h5 class="text-xl mt-5 font-semibold text-gray-800">Launch time</h5>
        <p class="mt-2 mb-4 text-gray-600">Some quick example text to build on the card title and make up the bulk of
          the card's content.</p>
      </div>
    </div>
  </div>
</section>